.loginContainer {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__logo {
    display: flex;
    justify-content: center;
  }

  &__buttonSubmit {
    margin-top: 50px;
  }

  &__dontHaveAccount {
    margin-top: 50px;
  }

  &__tAndC {
    margin-top: 3rem;
  }
}

@media (max-width: $breakpoint_tablet) {
  .loginContainer {

    &__logo {
      width: 150px;
      margin: -85px auto;
    }
  }
}

.coming-soon {
  background-image: url("../../../../../../public/assets/images/coming-soon.jpg");
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: 50% 50%;

  &_content {
    position: absolute;
    bottom: 7rem;
    margin: auto;
    left: 0; 
    right: 0; 
    width: 42rem;
    text-align: center;

    &_title {
      display: none;
    }

    &_text {
      color: white;
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 5rem;
      letter-spacing: 1px;
      line-height: 40px;
    }
  }
}

@media (max-width: $breakpoint_tablet) {
  .coming-soon {
    background-image: url("../../../../../../public/assets/images/coming-soon-mobile.webp");
    min-width: 100vw;
    min-height: 100vh;
    background-size: cover;
    background-position: 50% 50%;
    color: white;
  
    &_content {
      position: absolute;
      bottom: 7rem;
      margin: auto;
      left: 0; 
      right: 0; 
      width: 100%;
      text-align: center;
      padding: 0 1rem;

      &_title {
        display: block;
        margin-bottom: 6rem;
        font-size: 4.5rem;
        letter-spacing: 15px;
        padding: 0 1rem;
      }
  
      &_text {
        font-size: 1.5rem;
        font-weight: 1000;
        margin-bottom: 5rem;
        letter-spacing: 1px;
        line-height: 30px;
      }
    }
  }
}